IOT - Código - GS.json
[
    {
        "id": "3c0f15d2209380c2",
        "type": "mqtt in",
        "z": "3f32d096642716fe",
        "name": "",
        "topic": "sensor/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7d2c4effa1f071c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 620,
        "wires": [
            [
                "501079537785bf1d",
                "adb86bf29cd0a237",
                "e4ea44e389f1419f"
            ]
        ]
    },
    {
        "id": "501079537785bf1d",
        "type": "debug",
        "z": "3f32d096642716fe",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 620,
        "wires": []
    },
    {
        "id": "977938e71ce38e37",
        "type": "aedes broker",
        "z": "3f32d096642716fe",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d37de8e4a8ae1e32",
        "type": "inject",
        "z": "3f32d096642716fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "25",
        "payloadType": "str",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "875ecae828561249"
            ]
        ]
    },
    {
        "id": "875ecae828561249",
        "type": "mqtt out",
        "z": "3f32d096642716fe",
        "name": "",
        "topic": "sensor/humidity",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c7d2c4effa1f071c",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "87fa06753972d8a1",
        "type": "mqtt in",
        "z": "3f32d096642716fe",
        "name": "",
        "topic": "sensor/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b1c184da1a1480ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 260,
        "wires": [
            [
                "90ddd6e6dec80507",
                "18af5a5a7d02762d"
            ]
        ]
    },
    {
        "id": "90ddd6e6dec80507",
        "type": "debug",
        "z": "3f32d096642716fe",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 300,
        "wires": []
    },
    {
        "id": "83ed7215acef06ae",
        "type": "mqtt out",
        "z": "3f32d096642716fe",
        "name": "",
        "topic": "sensor/temperature",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b1c184da1a1480ad",
        "x": 450,
        "y": 420,
        "wires": []
    },
    {
        "id": "36ed08a8596514d2",
        "type": "inject",
        "z": "3f32d096642716fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "25",
        "payloadType": "str",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "83ed7215acef06ae"
            ]
        ]
    },
    {
        "id": "18af5a5a7d02762d",
        "type": "ui_gauge",
        "z": "3f32d096642716fe",
        "name": "",
        "group": "78a318d2e8a3f773",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura ideal",
        "label": "ºC",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 970,
        "y": 200,
        "wires": []
    },
    {
        "id": "adb86bf29cd0a237",
        "type": "ui_gauge",
        "z": "3f32d096642716fe",
        "name": "",
        "group": "78a318d2e8a3f773",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidade ideal",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#eeff00",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 680,
        "wires": []
    },
    {
        "id": "e4ea44e389f1419f",
        "type": "function",
        "z": "3f32d096642716fe",
        "name": "function 1",
        "func": "// Nó Function\nif (msg.payload < 40 && msg.payload > 70) {\n    msg.notification = {\n        payload :  \"Atenção! O nivel de humidade do ambiente está fora dos padrões ideias!\"\n    \n    } \n}\nreturn msg.payload;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 500,
        "wires": [
            [
                "919647202a73e04f",
                "c8524d0f5f55b763"
            ]
        ]
    },
    {
        "id": "919647202a73e04f",
        "type": "ui_toast",
        "z": "3f32d096642716fe",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "c8524d0f5f55b763",
        "type": "debug",
        "z": "3f32d096642716fe",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 520,
        "wires": []
    },
    {
        "id": "c7d2c4effa1f071c",
        "type": "mqtt-broker",
        "name": "NóUmidade",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "Sensor_umidade_94698",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b1c184da1a1480ad",
        "type": "mqtt-broker",
        "name": "Nó_Temp",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "Sensor_temp_94698",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "78a318d2e8a3f773",
        "type": "ui_group",
        "name": "Casa",
        "tab": "a0bdc832b32d4b83",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0bdc832b32d4b83",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]